body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: tan;
}

header {
	background-color: rgba(74, 104, 153, 0.2);
	position: fixed;
	width: 100%;
	z-index: 10;
}

ul {
	margin: 0;
	padding: 0;
	text-align: start;
}

li {
	color: #FFF;
	font-family: Garamond, serif;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 30px;
	display: inline-block;
}

li:hover {
	background-color: #716969;
}

ul a {
	text-decoration: none;
	color: #FFF;
}

main.Home {
	position: relative;
	display: block;
	font-weight: bold;
	top: 58px;
	height: 100%;
	background-color: #FBFBFB;
	background-image: url("../images/Nishant.jpg");
	background-size: cover;
}

h1.Home {
	margin: 0;
	color: #FBFBFB;
	font-family: Raleway, sans-serif;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 39%;
	left: 55%;
}

p.Home {
	margin: 0;
	color: #FBFBFB;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	position: relative;
	top: 41%;
	left: 55%;
}

#link {
	margin: 0;
	color: #FBFBFB;
	font-family: Raleway, sans-serif;
	font-size: 15px;
	position: relative;
	top: 45%;
	left: 55%;
}

a.link {
	text-decoration: underline;
	color: #FBFBFB;
}

a.link:hover {
	color: purple;
}










main.About {
	position: relative;
	top: 58px;
	height: 100%;
}

div.DP {
	grid-area: DP;
}

img.About {
	width: 100%;
	height: auto;
	
}

div.Text {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: Text;
	background-color: tan;
	overflow: scroll;
}

div.About {
	display: grid;
	position: relative;
	grid-template-columns: 40% 60%;
	grid-template-rows: 100%;
	grid-template-areas: "DP Text";
}

p.About {
	margin-top: 0;
	position: relative;
	top: 25%;
	padding: 0 30px;
	font-family: Quicksand;
	font-size: 20px; 
}

a.About {
	text-decoration: underline dotted black;
	color: black;
}










body.gallery {
	overflow: scroll;
}

div.gallery {
	display: grid;
	position: relative;
	background-color: tan;
	top: 58px;
	padding: 25px 0;
	padding-left: 25px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px 10px;
}

.gallery a:hover img {
	box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
}

img.gallery {
	position: relative;
}

.edit, .close {
	top: 2px;
	right: 2px;
	height: 20px;
	width: 20px;
}










/*main.contact {
	position: relative;
	top: 58px;
	background-color: tan;
	height: 100%;
}

div.contact {
	background-color: rgba(128, 128, 128, 0.2);
	width: 50%;
	margin: auto;
	padding: 30px;
	position: relative;
	top: 20%;
	text-align: center;
}

img.contact {
	display: inline-block;
	padding: 0 30px;
	margin: 0 auto;
}

div.imageLinks {
	padding-top: 10px;
	display: inline-block;
	margin: auto;
}

p.contact {
	font-size: 20px;
	font-family: Quicksand, sans-serif;
}

a.address {
	color: black;
	text-decoration: underline dotted black;
}*/

main.contact {
	position: relative;
	top: 58px;
	height: 100%;
	text-align: center;
	background-color: tan;
	font-family: Quicksand, sans-serif;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 0;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.5); 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
	position: relative;
	top: 5%;
	text-align: left;
	width: 50%;
	display: inline-block;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 20px;
  margin: auto;
}

#invalidFirst, #invalidLast, #invalidEmail, #invalidMessage {
	font-size: 12px;
	color: red;
	margin: 0;
	padding: 0;
}